In [1]:
import pandas as pd
data=pd.read_csv('./营业数据/抄表记录.csv',skiprows=9000000,engine='python')

In [7]:
data.columns=['用户ID', '水表口径', '水表用途', '是否单位用户', '供水人口', '水表类型', '抄表类型', '供水片区', '抄表月份', '抄表日期', '抄表员', '抄表本', '抄表路线', '用水性质', '用水性质细分', '水量']

In [15]:
df=data[['用户ID','水表口径','抄表月份','用水性质','水量']]

In [18]:
df.to_csv('./mydata/水表数据.csv',index=False)

In [19]:
df2=pd.read_csv('./mydata/水表数据.csv',engine='python',encoding='utf-8')

In [27]:
df3=df2[(df2.抄表月份>201512)&(df2.抄表月份<201801)]

In [32]:
df3.用户ID.value_counts()

3910263722    25
3913239822    25
3217998122    25
3910263522    25
3211538922    25
              ..
3906163022     1
3911916222     1
3906169822     1
3906096122     1
3235807522     1
Name: 用户ID, Length: 227203, dtype: int64

In [43]:
import numpy as np
df4=df3.replace(0,np.nan)

In [45]:
df4.dropna(inplace=True)

In [46]:
df4.用户ID.value_counts()

3910263422    25
3846066122    25
3873027422    25
3910429122    25
3910651022    25
              ..
3859452122     1
3905370422     1
3264135822     1
3901673822     1
3907431722     1
Name: 用户ID, Length: 210941, dtype: int64

In [59]:
df5=df4.drop_duplicates(['用户ID','抄表月份'],keep='last')

In [62]:
df5.用户ID.value_counts()

3826574322    24
3203212422    24
3841178122    24
3206228422    24
3825887122    24
              ..
3907398622     1
3905526122     1
3884387322     1
3908104122     1
3907431722     1
Name: 用户ID, Length: 210941, dtype: int64

In [65]:
a=pd.DataFrame(df5.用户ID.value_counts()==24)

In [70]:
b=a[a.用户ID==True]

In [82]:
df6=df5[df5.用户ID.isin(list(b.index))]

In [76]:
df5.用户ID

590121     3217999122
590122     3918243422
590123     3864222322
590132     3217988622
590133     3849133622
              ...
3602564    3219322222
3602565    3823189922
3602566    3215216922
3602567    3213726722
3602568    3206708422
Name: 用户ID, Length: 2013547, dtype: int64

In [86]:
df6.to_csv('./mydata/16-17.csv',index=False)

In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('./mydata/16-17.csv',engine='python',encoding='utf-8')

In [22]:
data2=data.sort_values(['用户ID','抄表月份'])

In [9]:
#df=data.set_index(['用户ID',data.groupby(['用户ID']).cumcount()+1]).unstack().sort_index(level=1,axis=1)

In [23]:
data2

             用户ID  水表口径    抄表月份  用水性质      水量
1282   3201100322   100  201601  工矿企业  2247.0
2682   3201100322   100  201602  工矿企业  4060.0
3756   3201100322   100  201603  工矿企业  2652.0
6228   3201100322   100  201604  工矿企业  3112.0
7621   3201100322   100  201605  工矿企业  3531.0
...           ...   ...     ...   ...     ...
28507  3926287422    50  201708  居民合表   838.0
29885  3926287422    50  201709  居民合表   879.0
31606  3926287422    50  201710  居民合表  1241.0
32861  3926287422    50  201711  居民合表   890.0
34374  3926287422    50  201712  居民合表   642.0

[35016 rows x 5 columns]

In [28]:
df1=data2[data2.抄表月份==201601]
df2=data2[data2.抄表月份==201602]
df3=data2[data2.抄表月份==201603]
df4=data2[data2.抄表月份==201604]
df5=data2[data2.抄表月份==201605]
df6=data2[data2.抄表月份==201606]
df7=data2[data2.抄表月份==201607]
df8=data2[data2.抄表月份==201608]
df9=data2[data2.抄表月份==201609]
df10=data2[data2.抄表月份==201610]
df11=data2[data2.抄表月份==201611]
df12=data2[data2.抄表月份==201612]
df13=data2[data2.抄表月份==201701]
df14=data2[data2.抄表月份==201702]
df15=data2[data2.抄表月份==201703]
df16=data2[data2.抄表月份==201704]
df17=data2[data2.抄表月份==201705]
df18=data2[data2.抄表月份==201706]
df19=data2[data2.抄表月份==201707]
df20=data2[data2.抄表月份==201708]
df21=data2[data2.抄表月份==201709]
df22=data2[data2.抄表月份==201710]
df23=data2[data2.抄表月份==201711]
df24=data2[data2.抄表月份==201712]

In [50]:
data3=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24],axis=1,ignore_index=True,join_axes=[df1.用户ID])

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  """Entry point for launching an IPython kernel.

In [73]:
res=pd.merge(df1,df2,how='inner',on=['用户ID','水表口径'])
for i in([df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24]):
    res=pd.merge(res,i,how='inner',on=['用户ID','水表口径'])

In [77]:
res.drop([res.用水性质_y,axis=1,inplace=True)

In [82]:
res.drop(res.抄表月份_x,axis=1,inplace=True)

In [84]:
res.drop(res.抄表月份_y,axis=1,inplace=True)

In [94]:
res.columns=(['用户ID','水表口径','用水性质','1','2','d','3','4','d','5','6','d','7','8','d','9','10','d','11','12','d','13','14','d','15','16','d','17','18','d','19','20','d','21','22','d','23','24'])

In [96]:
res.drop(res.d,axis=1,inplace=True)

In [98]:
res.to_csv('./mydata/16-17处理.csv',index=False)

In [100]:
res.head()

,用户ID,水表口径,用水性质,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,3201100322,100,工矿企业,2247.0,4060.0,2652.0,3112.0,3531.0,4968.0,6072.0,...,3796.0,4725.0,2816.0,1977.0,1279.0,1345.0,2437.0,2256.0,699.0,586.0
1,3201101222,20,工矿企业,41.0,99.0,71.0,53.0,60.0,69.0,83.0,...,65.0,55.0,60.0,80.0,97.0,107.0,95.0,57.0,66.0,55.0
2,3201101422,50,商贸服务,195.0,320.0,198.0,240.0,197.0,248.0,286.0,...,274.0,283.0,217.0,157.0,135.0,200.0,228.0,266.0,361.0,248.0
3,3201101622,150,工矿企业,5200.0,7160.0,5270.0,7790.0,8900.0,8060.0,7650.0,...,6627.0,7387.0,8050.0,10768.0,9873.0,10670.0,10141.0,10143.0,9192.0,7934.0
4,3201102222,40,工矿企业,608.0,856.0,477.0,415.0,288.0,294.0,305.0,...,244.0,156.0,190.0,231.0,215.0,200.0,196.0,188.0,184.0,133.0