In [1]:
import pandas as pd

In [83]:
ecoli=pd.read_table('./mydata/ecoli.txt',sep='/t',header=None)

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [84]:
ecoli.columns=['1']
ecoli['2']=None
ecoli['3']=None
ecoli['4']=None
ecoli['5']=None
ecoli['6']=None
ecoli['7']=None
ecoli['8']=None
ecoli['9']=None

In [85]:
for i in range(len(ecoli)):         #遍历每一行    
    coordinate = ecoli['1'][i].split() #分开第i行，x列的数据。split()默认是以空格等符号来分割，返回一个列表    
    ecoli['1'][i]=coordinate[0]        #分割形成的列表第一个数据给第一列    
    ecoli['2'][i]=coordinate[1]        #分割形成的列表第二个数据给第二列
    ecoli['3'][i]=coordinate[2]
    ecoli['4'][i]=coordinate[3]
    ecoli['5'][i]=coordinate[4]
    ecoli['6'][i]=coordinate[5]
    ecoli['7'][i]=coordinate[6]
    ecoli['8'][i]=coordinate[7]
    ecoli['9'][i]=coordinate[8]
print(ecoli)

              1     2     3     4     5     6     7     8   9
0     AAT_ECOLI  0.49  0.29  0.48  0.50  0.56  0.24  0.35  cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.50  0.54  0.35  0.44  cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.50  0.49  0.37  0.46  cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.50  0.52  0.45  0.36  cp
4     ADI_ECOLI  0.23  0.32  0.48  0.50  0.55  0.25  0.35  cp
..          ...   ...   ...   ...   ...   ...   ...   ...  ..
331  TREA_ECOLI  0.74  0.56  0.48  0.50  0.47  0.68  0.30  pp
332  UGPB_ECOLI  0.71  0.57  0.48  0.50  0.48  0.35  0.32  pp
333  USHA_ECOLI  0.61  0.60  0.48  0.50  0.44  0.39  0.38  pp
334  XYLF_ECOLI  0.59  0.61  0.48  0.50  0.42  0.42  0.37  pp
335  YTFQ_ECOLI  0.74  0.74  0.48  0.50  0.31  0.53  0.52  pp

[336 rows x 9 columns]

In [92]:
ecoli2=ecoli[['2','3','4','5','6','7','8','9']]

In [96]:
ecoli2.to_csv('./mydata/ecoli.csv',index=False)

In [4]:
letter=pd.read_table('./mydata/letter.txt',sep=',',header=None)

In [7]:
letter.to_csv('./mydata/letter.csv',index=False)